<form class="fr-hidden" method="post" action="{{ path('oukile_emplacement_delete', {'id': emplacement.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet emplacement?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
	<button id="delete-emplacement-{{emplacement.id}}">Supprimer</button>
</form>
