{% extends 'base.html.twig' %}

{% block title %}Éditer un emplacement
{% endblock %}

{% block body %}

	<a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{{ path('oukile_unite_show',{id: emplacement.rangement.zone.piece.unite.id}) }}">Retour</a>

	<h1 class="fr-mt-2w">Éditer un emplacement</h1>

	{{ include('emplacement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
