{% extends 'base.html.twig' %}

{% block title %}Edit FamilleArticle{% endblock %}

{% block body %}
    <h1>Edit FamilleArticle</h1>

    {{ include('famille_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_famille_article_index') }}">back to list</a>

    {{ include('famille_article/_delete_form.html.twig') }}
{% endblock %}
