{% extends 'base.html.twig' %}

{% block title %}New FamilleArticle{% endblock %}

{% block body %}
    <h1>Create new FamilleArticle</h1>

    {{ include('famille_article/_form.html.twig') }}

    <a href="{{ path('app_famille_article_index') }}">back to list</a>
{% endblock %}
