{% extends 'base.html.twig' %}

{% block title %}New TypeRangement{% endblock %}

{% block body %}
    <h1>Create new TypeRangement</h1>

    {{ include('type_rangement/_form.html.twig') }}

    <a href="{{ path('app_type_rangement_index') }}">back to list</a>
{% endblock %}
